<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/burger_style.css">
    <title>{{title}}</title>
</head>

<body>
    <div class="header">
        <h1>Devour 'em All</h1>
    </div>
    <div class="container">

        <div class="burgers">
            {{{body}}}
        </div>

    </div>

<script src="./assets/js/app.js"></script>
</body>

</html>